* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('../img/sfondo.png');
    background-repeat: repeat;
}


.boxcontenitore {
    width: 70%;
    margin: auto;
}


/* intestazione header */
.intestazione {
    background-image: url('../img/bosco.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    border: 12px solid #fff;
    /* background-color: yellow; */
    position: relative;
}

.titolo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    cursor: pointer;
    border: 5px solid #fff;
    padding: 10px;
    font-family: arial;
    letter-spacing: 15px;
}

.sottotitolo {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: arial;
    letter-spacing: 3px;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: #5F5F5F;
    position: relative;
}

li {
    display: inline-block;
    line-height: 50px;
}

a {
    color: #fff;
    text-decoration: none;
    margin: 10px 10px;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}

.tasti {
    text-align: center;

}







/* contenitore della parte principale */
.contenitoremain::after {
    content: "";
    display: table;
    clear: both;
}
/* sezione laterale di sinistra */
.sezione1 {
    width: 20%;
    float: left;
    margin-top: 1%;
    /* debug */
    /* height: 300px; */
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
}

.iconarss {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    /* margin-left: 5px;
    margin-top: 5px; */
    background-image: url('../img/rss.png');
    background-size: cover;
    display: inline-block;

    /* background-color: red; */
}

/* parte centrale */
.sezionecentrale {
    height: 450px;
    width: 50%;
    background-color: #fff;
    float: left;
    /* margin: 0 5%; */
    margin: 1% 5% 1% 5%;
    border-radius: 8px;
    font-family: arial;
    padding: 20px;
    color: #4F4F4F;
}

h2 {
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px #C0C0C0;
}

/* sezione laterale di destra */
.sezione2 {
    width: 20%;
    float: left;
    margin-top: 1%;
    /* debug */
    /* height: 300px; */
    /* background-color: #fff; */
    border-radius: 8px;
}

h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

/* blocchi lato destro */
.articolo1, .articolo2, .articolo3 {
    width: 100%;
    float: right;
    /* debug */
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;

}

/* .articolo2 {
    margin-top: 20px;
} */

/* footer */
.bloccofooter {
    width: 100%;
    height: 200px;
    /* debug */
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 8px;
    position: relative;
}

.instagram {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.facebook {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.git {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);



}



}
